@font-face {
    font-family: sega;
    src: url("../fonts/sega.ttf");
}
@font-face {
    font-family: hyperspace;
    src: url("../fonts/hyperspace.otf");
}
@font-face {
    font-family: hyperspace_bold;
    src: url("../fonts/hyperspace_bold.otf");
    /*font-weight: bold;*/
}
@font-face {
    font-family: hyperspace_bold_italic;
    src: url("../fonts/hyperspace_bold_italic.otf");
    /*font-weight: bold;
    font-style: italic;*/
}
@font-face {
    font-family: hyperspace_italic;
    src: url("../fonts/hyperspace_italic.otf");
    /*font-style: italic;*/
}
@font-face {
    font-family: vectorb;
    src: url("../fonts/vectorb.ttf");
}
@font-face {
    font-family: terminus;
    src: url("../fonts/terminus.ttf");
}
@font-face {
    font-family: terminus_bold;
    src: url("../fonts/terminus_bold.ttf");
    /*font-weight: bold;*/
}
@font-face {
    font-family: terminus_bold_italic;
    src: url("../fonts/terminus_bold_italic.ttf");
    /*font-weight: bold;
    font-style: italic;*/
}
@font-face {
    font-family: terminus_italic;
    src: url("../fonts/terminus_italic.ttf");
    /*font-style: italic;*/
}


body {
    color: #FFF;
    overflow: hidden;
    margin: 0;
}
h1 {
    font-family: hyperspace_bold_italic, vectorb;
    font-weight: normal;
    font-size: 48px;
    /*margin-left: 20px;*/
    position: relative;
    font-style: italic;
    margin-bottom: 10px;
}
#separator {
    opacity: 0.5;
    padding: 0px 20px;
}
.nav-icon {
    display: inline;
    font-family: hyperspace_bold_italic, vectorb;
}
#terminal_icon {
    opacity: .8;
    /*margin-left: 20px;*/
    position: relative;
    font-style: italic;
    margin: 0;
}
#terminal_icon:hover {
    opacity: 1;
    cursor: pointer;
}
#terminal_icon:hover:after {
    content: ' :terminal access';
}

#terminal_icon.selected:after {
    content: ' :terminal active';
}

#glitch_icon {
    opacity: .8;
    /*margin-left: 20px;*/
    position: relative;
    font-style: italic;
    margin: 0;
}
#glitch_icon:hover {
    opacity: 1;
    cursor: pointer;
}
#glitch_icon:hover:after {
    content: ' :disable glitch';
}
#glitch_icon.selected:hover:after {
    content: ' :enable glitch';
}

#logo-nav {
    display: inline-block;
    position: relative;
    background-color: rgba(0,0,0,.8);
    padding: 0px 40px 20px;
    margin: 0;
    top: 0;
    left: 0;
}

.sega_font{
    font-family: sega, hyperspace, vectorb;
    font-weight: normal;
}
.hyperspace_font{
    font-family: hyperspace, hyperspace, vectorb;
    letter-spacing: 6px;
}
.vectorb_font{
    font-family: vectorb, hyperspace;
    letter-spacing: 6px;
}
.hyperspace_bold_font{
    font-family: hyperspace_bold, hyperspace, vectorb;
    letter-spacing: 6px;
}
.hyperspace_bold_italic_font{
    font-family: hyperspace_bold_italic, hyperspace_italic, vectorb;
    letter-spacing: 6px;
}
.hyperspace_italic_font{
    font-family: hyperspace_italic, hyperspace, vectorb;
}

.selected {
    opacity: 1 !important;
}

#terminal {
    height: calc(100vh - 130px) !important;
    background-color: rgba(0,0,0,.8);
    color: #FFF;
    font-family: terminus, sans-serif;
    font-size: 12px;
    letter-spacing: 6px;
    padding-left: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.prompt{
    font-family: terminus, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* GLITCH TEXT  Example 1
  @keyframes noise-anim {
    0% {
      clip: rect(22px, 9999px, 75px, 0);
    }
    5% {
      clip: rect(32px, 9999px, 49px, 0);
    }
    10% {
      clip: rect(100px, 9999px, 91px, 0);
    }
    15% {
      clip: rect(26px, 9999px, 42px, 0);
    }
    20% {
      clip: rect(98px, 9999px, 20px, 0);
    }
    25% {
      clip: rect(18px, 9999px, 74px, 0);
    }
    30% {
      clip: rect(26px, 9999px, 12px, 0);
    }
    35% {
      clip: rect(83px, 9999px, 90px, 0);
    }
    40% {
      clip: rect(14px, 9999px, 69px, 0);
    }
    45% {
      clip: rect(86px, 9999px, 86px, 0);
    }
    50% {
      clip: rect(86px, 9999px, 45px, 0);
    }
    55% {
      clip: rect(83px, 9999px, 95px, 0);
    }
    60% {
      clip: rect(80px, 9999px, 79px, 0);
    }
    65% {
      clip: rect(64px, 9999px, 68px, 0);
    }
    70% {
      clip: rect(15px, 9999px, 24px, 0);
    }
    75% {
      clip: rect(70px, 9999px, 67px, 0);
    }
    80% {
      clip: rect(69px, 9999px, 64px, 0);
    }
    85% {
      clip: rect(3px, 9999px, 21px, 0);
    }
    90% {
      clip: rect(35px, 9999px, 26px, 0);
    }
    95% {
      clip: rect(97px, 9999px, 54px, 0);
    }
    100% {
      clip: rect(54px, 9999px, 36px, 0);
    }
  } 
  .glitch-text:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 40s infinite linear alternate-reverse;
  }
  
  /*
  @keyframes noise-anim-2 {
    0% {
      clip: rect(83px, 9999px, 68px, 0);
    }
    5% {
      clip: rect(50px, 9999px, 19px, 0);
    }
    10% {
      clip: rect(36px, 9999px, 94px, 0);
    }
    15% {
      clip: rect(41px, 9999px, 17px, 0);
    }
    20% {
      clip: rect(40px, 9999px, 87px, 0);
    }
    25% {
      clip: rect(70px, 9999px, 20px, 0);
    }
    30% {
      clip: rect(91px, 9999px, 15px, 0);
    }
    35% {
      clip: rect(59px, 9999px, 31px, 0);
    }
    40% {
      clip: rect(66px, 9999px, 47px, 0);
    }
    45% {
      clip: rect(99px, 9999px, 81px, 0);
    }
    50% {
      clip: rect(18px, 9999px, 90px, 0);
    }
    55% {
      clip: rect(55px, 9999px, 83px, 0);
    }
    60% {
      clip: rect(80px, 9999px, 73px, 0);
    }
    65% {
      clip: rect(99px, 9999px, 53px, 0);
    }
    70% {
      clip: rect(42px, 9999px, 72px, 0);
    }
    75% {
      clip: rect(53px, 9999px, 20px, 0);
    }
    80% {
      clip: rect(72px, 9999px, 15px, 0);
    }
    85% {
      clip: rect(24px, 9999px, 94px, 0);
    }
    90% {
      clip: rect(39px, 9999px, 54px, 0);
    }
    95% {
      clip: rect(32px, 9999px, 72px, 0);
    }
    100% {
      clip: rect(94px, 9999px, 94px, 0);
    }
  } */
  /*
  .glitch-text:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 60s infinite linear alternate-reverse;
  }*/

/* GLITCH TEXT - Example 2 */

/*
  .glitch-text:hover:before {
    animation: glitch-anim-text-2 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  }
  .glitch-text:hover:after {
    animation: glitch-anim-text-2 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  }
*/
  
  @keyframes glitch-anim-text-2 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-5px, 5px);
      transform: translate(-5px, 5px);
    }
    40% {
      -webkit-transform: translate(-5px, -5px);
      transform: translate(-5px, -5px);
    }
    60% {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
    }
    80% {
      -webkit-transform: translate(5px, -5px);
      transform: translate(5px, -5px);
    }
    to {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }


/* GLITCH IMAGE STYLES */
:root {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #f9d77e;
	--color-link-hover: #fff;
	--color-info: #efc453;
	--glitch-width: 100vw;
	--glitch-height: 100vh;
	--gap-horizontal: 10px;
	--gap-vertical: 5px;
	--time-anim: 4s;
	--delay-anim: 2s;
	--blend-mode-1: none;
	--blend-mode-2: none;
	--blend-mode-3: none;
	--blend-mode-4: none;
	--blend-mode-5: overlay;
	--blend-color-1: transparent;
	--blend-color-2: transparent;
	--blend-color-3: transparent;
	--blend-color-4: transparent;
	--blend-color-5: #af4949;
}

/* Glitch styles */
.glitch {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--glitch-width);
	height: var(--glitch-height);
	overflow: hidden;
}

.glitch-disabled {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--glitch-width);
	height: var(--glitch-height);
	overflow: hidden;
}

.glitch-disabled .glitch__img:nth-child(1){
    position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch .glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch .glitch__img:nth-child(n+2) {
	opacity: 0;
}

.glitch .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.glitch .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}

.glitch .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}

.glitch .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}

.glitch .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}

/* Animations */
@keyframes glitch-anim-1 {
	0% { 
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-2 {
	0% { 
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-3 {
	0% { 
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}